# KVAE training config template
# Put this file at the project root or pass --config path/to/config.yaml

dataset:
  # 'toy' or 'pymunk'
  type: pymunk
  # for 'pymunk' sets path to the .npz file containing 'images' and 'state'
  path: /Users/rodrigopaganini/master/data/pgm/kvae/box.npz
  num_workers: 6
  val_split: 0.2

  kwargs: {
    load_in_memory: true,
    normalize: false,
    seq_len: 20
  }

transforms:
  # add gaussian noise to images (std)
  add_noise_std: 0.0

training:
  seed: 10
  max_epochs: 100
  batch_size: 32
  lr: 0.007
  ckpt_every: 5
  gpus: 1
  # device: 'auto'|'cpu'|'cuda'|'mps' - if 'auto', script will prefer cuda, then mps, then cpu
  device: cpu
  logdir: runs
  pretrain_vae_epochs: 0
  warmup_epochs: 10
  add_imputation_plots: true  

kvae:
  # LGSSM / mixture
  num_modes: 3
  sticky_p_stay: 0.9
  tau_init: 1
  tau_decay_rate: 0.995
  tau_decay_steps: 1
  tau_min: 0.2
  dynamics_model: switching  # "switching" or "lstm"
  noise_emission: 0.03
  noise_transition: 0.02
  init_cov: 20.0
  init_kf_matrices: 0.05
# Any other user fields are accepted and ignored by default
